Callum McLoughlin <cwm62@uclive.ac.nz> Callum McLoughlin <callumwmcloughlin@gmail.com>
Callum McLoughlin <cwm62@uclive.ac.nz> =<cwm62@uclive.ac.nz>

Connor Hitchcock <fch58@uclive.ac.nz> Connor Hitchcock <fergus.hitchcock@gmail.com>

Rutger van Kruiningen <rva42@uclive.ac.nz> Rutger van Kruiningen<63433867+Rutger-vK@users.noreply.github.com>
Rutger van Kruiningen <rva42@uclive.ac.nz> rutge<rva42@uclive.ac.nz>

Omar Sheta <osh18@uclive.ac.nz> osh18 <osh18@uclive.ac.nz>

Fletcher Dick <fdi19@uclive.ac.nz> fletcher_dick<fletcherjdick@gmail.com>